<div class="post" data-post-id="{{postId}}" data-stash="{{topic}}" data-user="{{user}}">
  <div class="post-box">
    <div class="post-image-box">
      <img src="{{imageURL}}">
    </div>
    <div class="post-title-box">
      <a href="{{linkURL}}" class="post-title">{{title}}</a> <span class="post-tag">{{topic}}</span><br>
      <span class="post-user">by {{user}}</span>
    </div>
  </div>
</div>
