<div class="stash" data-stash-id="{{STASH_ID}}" data-topic="{{TOPIC}}">
    <div class="stash-box">
      <div class="stash-title-box">
        <a href="{{LINK_URL}}" class="stash-title">{{TOPIC}}</a> <span class="stash-desc">{{DESCRIPTION}}</span><br>
      </div>
    </div>
</div>
