<div class="post" data-post-id="1" data-stash="{{TOPIC}}" data-user="{{USER}}">
  <div class="post-box">
    <div class="post-image-box">
      <img src="{{IMAGE_URL}}">
    </div>
    <div class="post-title-box">
      <a href="{{LINK_URL}}" class="post-title">{{TITLE}}</a> <span class="post-tag">{{TOPIC}}</span><br>
      <span class="post-user">by {{USER}}</span>
    </div>
  </div>
</div>
